.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.main_header {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(20px, 6vw, 40px);
}

.logo {
    height: 49px;
}

.intro {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}
