.harb_0 {
    background: url(../img/Pierro.png) center center;
    background-size: cover;
}

.harb_1 {
    background: url(../img/Il_Capitano.png) center center;
    background-size: cover;
}

.harb_2 {
    background: url(../img/Dottore.png) center center;
    background-size: cover;
}

.harb_3 {
    background: url(../img/Columbina.png) center center;
    background-size: cover;
}

.harb_4 {
    background: url(../img/Arlecchino.png) center center;
    background-size: cover;
}

.harb_5 {
    background: url(../img/Pulcinella.png) center center;
    background-size: cover;
}

.harb_6 {
    background: url(../img/Scaramouche.png) center center;
    background-size: cover;
}

.harb_7 {
    background: url(../img/Sandrone.png) center center;
    background-size: cover;
}

.harb_8 {
    background: url(../img/Signora.png) center center;
    background-size: cover;
}

.harb_9 {
    background: url(../img/Pantalone.png) center center;
    background-size: cover;
}

.harb_11 {
    background: url(../img/Tartaglia.png) center center;
    background-size: cover;
}
