@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Montserrat:wght@300;400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: black;
    color: #fff;
    /* Для Файерфокса штуки */
    scrollbar-width: 10px;
    scrollbar-color: rgb(255, 54, 31) none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* сама прокрутка */
body::-webkit-scrollbar {
    width: 10px;
}

/* дорожка (индикатор выполнения) полосы прокрутки, где поверх белой полосы находится серая полоса. */
body::-webkit-scrollbar-track {
    background: none;
}

/* перетаскиваемый маркер прокрутки */
body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 54, 31);
    border-radius: 20px;
    border: 3px solid rgb(53, 21, 20);
}

/* нижний угол полосы прокрутки, где встречаются горизонтальная и вертикальная полосы прокрутки */
body::-webkit-scrollbar-corner {
    background: black;
}
